/*
 * === GENERAL PROPERTIES ===
 */

html {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  background: linear-gradient(#141422, #0a0a10) no-repeat center center fixed;
  background-size: cover;
}
h1, button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0,0,0,0.3);
}
h1 {
  font-size: 50px;
}
.center {
  position: relative;
  top: 25%;
}
#subtitle {
  color: rgba(255,255,255,.5);
  top: 50%;
  position: relative;
}
#social a {
  border: 0;
  padding: 6px;
  opacity: 0.5;
  transition: opacity 0.5s;
}
#social a:hover {opacity: 1;}
#social {height: 32px;}

/* -- Navigation -- */
button {
  font-size: 20px;
  border: none;
  outline: 0;
  background: none;
  color: white;
  transition: all 0.4s;
  padding: 0 6%;
}
button:hover {
  background: rgba(255,255,255,0.3);
  text-decoration: underline;
}
.nav-top {
  margin-top: 57%;
  position: inherit;
}
.nav-bottom {
  margin-top: 93%;
  width: 100%;
  position: inherit;
}

/*
 * === PROPERTIES FOR THE CUBE ===
 */
.container {
  margin: 12% auto;
  width: 500px;
  height:500px;
  position: relative;
  perspective: 1000px;
  z-index: 1000;
}
#cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
#cube figure {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

/* -- Moving the sides into place -- */
#cube .front  {
  transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
  background: #1a7941;
}
#cube .back   {
  transform: rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg);
  background: #269253;
}
#cube .right  {
  transform: translateX(50%) rotateY(90deg);
  background: #2d9a56;
}
#cube .left   {
  transform: translateX(-50%) rotateY(-90deg);
  background: #2e8e68;
}
#cube .top    {
  transform: translateY(-50%) rotateX(90deg);
  background: #44a27d;
}
#cube .bottom {
  transform: translateY(50%) rotateX(-90deg);
  background: #0a4c29;
}

#cube.show-front  {transform: rotateY(90deg)  translateX(50%) rotateY(-90deg);}
#cube.show-back   {transform: rotateY(180deg) rotateX(90deg) translateY(50%) rotateX(-90deg);}
#cube.show-left   {transform: rotateY(90deg)  translateX(50%);}
#cube.show-right  {transform: rotateY(-90deg) translateX(-50%);}
#cube.show-top    {transform: rotateX(-90deg) translateY(50%);}
#cube.show-bottom {transform: rotateX(90deg)  translateY(-50%);}

/*
 * === PARTICLE EFFECTS ===
 */
.particles {
  width: 3px;
  height: 3px;
  position: absolute;
  border-radius: 50%;
  transition: all 6s ease-in-out;
}
.particles span {
  z-index: 1;
}
