/*
 * === GENERAL PROPERTIES ===
 */

html, body {
  height: 100%;
}
body {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  display: flex;
  background-image: url('../documents/img/nitish-meena.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
h1, button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0,0,0,0.3);
}
h1 {
  font-size: 50px;
  font-size: 6vmin;
}
#body-overlay {
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  transition: background 0.7s cubic-bezier(0.19, 0.79, 0.44, 0.98);
}
.center {
  margin: 0;
  min-height: 32px;
}
#subtitle {
  color: rgba(255,255,255,.5);
  font-size: 15px;
  font-size: 1.35vmax;
}
#front-content {
  position: absolute;
  top: 35%;
}
#social a {
  color: white;
  font-size: 20px;
  font-size: 2.5vmax;
  outline: none;
  padding: 6px;
  opacity: 0.5;
  transition: opacity 0.5s;
}
#social a:hover {opacity: 1;}
#social {height: 32px;}

/* -- Navigation -- */
.nav-bottom {
  display: flex;
  justify-content: center;
  top: 85%;
  position: absolute;
  width: 100%;
}
.nav-item {
  font-size: 20px;
  font-size: 2.4vmin;
  border: none;
  height: 100px;
  padding: 0 2%;
  outline: 0;
  background: none;
  flex-grow: 1;
  color: white;
  transition: background 0.4s;
}
.nav-item:hover {
  background: rgba(255,255,255,0.3);
  text-decoration: underline;
  cursor: pointer;
}

/*
 * === PROPERTIES FOR THE CUBE ===
 */
.container {
  position: absolute;
  width: 33%;
  height: 100%;
  perspective: 1000px;
  z-index: 1000;
}
#cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s cubic-bezier(0.56, 0.54, 0, 0.95)
}
#cube figure {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#front-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(142, 68, 140, 0.85);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  z-index: -1;
}

/* -- Moving the sides into place -- */
#cube .front {
  transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
  background-image: url('../documents/img/annie-spratt.jpg');
}
#cube .right {
  transform: translateX(50%) rotateY(90deg);
  background-image: url('../documents/img/arvee-marie.jpg');
}
#cube .left {
  transform: translateX(-50%) rotateY(-90deg);
  background: #2e8e68;
}

#cube.show-front  {transform: rotateY(90deg)  translateX(50%) rotateY(-90deg);}
#cube.show-left   {transform: rotateY(90deg)  translateX(50%);}
#cube.show-right  {transform: rotateY(-90deg) translateX(-50%);}

/*
 * === PARTICLE EFFECTS ===
 */
.particles {
  width: 3px;
  height: 3px;
  position: absolute;
  border-radius: 50%;
  transition: all 6s ease-in-out;
}
.particles span {
  z-index: 1;
}
