/*
 * === GENERAL PROPERTIES ===
 */

html, body {
  height: 100%;
}
body {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  display: flex;
  background-image: url('../documents/img/nitish-meena.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
ul {
  list-style: none;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
h1, button, h3 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0,0,0,0.3);
}
h3 {
  font-size: 30px;
  font-size: 5vmin;
}
h1 {
  font-size: 50px;
  font-size: 6vmin;
}
a {
  text-decoration: none;
  border: 0;
}

/*
 * === ACTUAL CONTENT ===
 */
#body-overlay {
  position: fixed;
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  transition: background 0.7s cubic-bezier(0.19, 0.79, 0.44, 0.98);
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 67%;
  margin-left: auto;
  z-index: 50;
}
.text-box {
  position: relative;
  background: rgb(253, 249, 251);
  color: #cd7f8c;
  margin: 1% 3%;
  padding: 1%;
  box-shadow: 7px 7px 0px 0px rgba(179, 103, 116, 0.73);
  transition: box-shadow 0.2s ease, bottom 0.1s ease-out;
}
.text-box:hover {
  bottom: 5px;
  box-shadow: 9px 9px 0px 0px rgba(214, 102, 121, 0.73);
}
.text-box:active {
  top: 4px;
}
.text-box h4 {font-size: 25px;}
.text-box p  {font-size: 20px;}

/*
 * === NAVIGATION ===
 */
.nav-bottom {
  display: flex;
  justify-content: center;
  top: 85%;
  position: absolute;
  width: 100%;
}
.nav-item {
  font-size: 20px;
  font-size: 2.4vmin;
  border: none;
  height: 100px;
  padding: 0 2%;
  outline: 0;
  background: none;
  flex-grow: 1;
  color: white;
  transition: background 0.4s;
}
.nav-item:hover {
  background: rgba(255,255,255,0.3);
  text-decoration: underline;
  cursor: pointer;
}

/*
 * === PROPERTIES FOR THE CUBE ===
 */
.container {
  position: fixed;
  width: 33%;
  height: 100%;
  perspective: 1000px;
  z-index: 1000;
  animation-name: slide-in;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(1, -0.37, 0.4, 0.96);
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes slide-in {
  from {left: -40%;}
  to {left: 0;}
}
#cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s cubic-bezier(0.56, 0.54, 0, 0.95);
}
#cube figure {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.front-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(142, 68, 140, 0.85);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  transition: background .7s;
  z-index: -1;
}

/* -- Moving the sides into place -- */
#cube .front {
  transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
  background-image: url('../documents/img/annie-spratt.jpg');
}
#cube .right {
  transform: translateX(50%) rotateY(90deg);
  background-image: url('../documents/img/mona-eendra.jpg');
}
#cube .left {
  transform: translateX(-50%) rotateY(-90deg);
  background: #2e8e68;
}

#cube.show-front  {transform: rotateY(90deg)  translateX(50%) rotateY(-90deg);}
#cube.show-left   {transform: rotateY(90deg)  translateX(50%);}
#cube.show-right  {transform: rotateY(-90deg) translateX(-50%);}

/*
 * === CONTENT WITHIN THE CUBE ===
 */

.center {
  margin: 0;
  min-height: 32px;
}
#subtitle {
  color: rgba(255,255,255,.5);
  font-size: 15px;
  font-size: 1.35vmax;
}
#front-content {
  position: absolute;
  top: 35%;
}
#social a {
  color: white;
  font-size: 20px;
  font-size: 2.5vmax;
  outline: none;
  padding: 6px;
  opacity: 0.5;
  transition: opacity 0.5s;
}
#social a:hover {opacity: 1;}
#social {height: 32px;}
.site-list div {
  height: 100%;
  width: 100%;
}
